.mt-5 {
    display: flex; 
    justify-content: center ;
    align-items: center;
    min-height: 100vh;
    background: #dfdfdf ;
}

.login-box { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 500px;
    padding: 15px;
}

#container {
    margin-top : -55px ; 
}

.login-header{
    text-align: center;
    margin: 20px 0 40px 0 ;    
    color : #333 ; 
    font-size: 30px ;
    font-weight: 600;
}

#formHeader { 
    display:flex ; 
    justify-content: center;
    align-items:center;
}

#formHeader p { 
    margin-right: 10px;
    margin-top: -15px;
}

#formBasicInput {
    width: 73%; 
    height: 60px ;
    font-size: 17px ;
    padding :0 25px ; 
    margin-bottom: 15px ;
    border-radius: 30px ;
    border : none ;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.05);
    outline: none ;
    transition: .2s  ease-in-out; 
}

::placeholder { 
    font-weight: 500;
    color : #fdfdfd;    
}

#formBasicInput:hover { 
    width: 78%;

}

#btns {
    display: flex;
    justify-content: center;
}
#submit-btn ,#regi-btn { 
    width : 30% ; 
    margin: 5px;
    height: 45px ; 
    color : #fdfdfd; 
    border : none ; 
    border-radius: 30px ;
    cursor : pointer ; 
    transition: .3s ; 
}

#submit-btn , #regi-btn :hover { 
    transform: scale(1.05,1) ;
}


.error-text {
    margin-top: 20px;
    margin-left: 50px;
    color : red ;
    animation: shake .3s ease ; 
}
.red-text { 
    margin-top: 20px;
    margin-left: 50px;
    color : red 
}

@keyframes shake {
    25%  {transform: translateX(4px);}
    35%  {transform: translateY(-4px);}
    50%  {transform: translateX(-4px);}
    75%  {transform: translateX(4px);}
    85%  {transform: translateY(4px);}
    100% {transform: translateX(0);}
}