.mt-4 { 
    background-color:#dfdfdf; 
    padding : 15px; 
    display: grid;
    justify-content: center;
    color : #222 ;
    height: 203vh;
    margin : 0 auto ;
}

ul {  
  top:-150px;
  list-style: none;
}

#button  { 
    width : 20% ; 
    margin : 0 auto ; 
    margin-left: 280px ; 
    height : 45px ; 
    color : #fdfdfd ; 
    border : none ; 
    border-radius: 30px ;
    cursor: pointer;
    transition:  .3s ease-in;
}

#button-admin  { 
  margin-left: 50px;
  width: 110px;
  height : 45px ; 
  color : #fdfdfd ; 
  border : none ; 
  border-radius: 30px ;
  cursor: pointer;
  transition:  .3s ease-in;
}

#button:hover  { 
    transform: scale(1.05 , 1);
}

.active-circle { 
  background-color: gray ; 
  border-radius: 50px ;
  color : gray ; 
  margin-top: 20px ;
}

.inactive-circle { 
  background-color: green ; 
  color : green ; 
  border-radius: 50px ;
  margin-top: 20px ;
}

#status { 
  margin-top: -50px;
}

#logout {
  padding-left:  250px ; 
  margin: -150px ;
}

h2 { 
  margin-top: -10px;
  padding : 3px ; 
  margin-left: 130px;
  height: 45px;
}

ul {
  margin : 0; 
  padding: 0px ;
  height: 80px;
}

ul li { 
  padding : 15px ;
}

#container { 
}

.infos { 
  padding-left:150px ;
  width: 615px;
}

.instruct { 
  padding : 2px;
}

#navi { 
  display: flex;
}