
.mt-4 { 
    background-color:#dfdfdf; 
    display: grid;
    justify-content: center;
    color : #222 ;
    margin : 0 auto ;
    height: 100vh   ;
}

ul {  
  top:-150px;
  list-style: none;
}

#button  { 
    width : 20% ; 
    margin : 0 auto ; 
    margin-left: 360px ; 
    height : 45px ; 
    color : #fdfdfd ; 
    border : none ; 
    border-radius: 30px ;
    cursor: pointer;
    transition:  .3s ease-in;
}

#button:hover  { 
    transform: scale(1.05 , 1);
}

.active-circle { 
  background-color: gray ; 
  border-radius: 50px ;
  color : gray ; 
  margin-top: 20px ;
}

.inactive-circle { 
  background-color: green ; 
  color : green ; 
  border-radius: 50px ;
  margin-top: 20px ;
}

#status { 
  margin-top: -50px;
}

#logout {
  padding-left:  250px ; 
  margin: -150px ;
}

h2 { 
  margin : 0 auto ; 
  padding : 15px ; 
  margin-left: 150px;
  height: 45px;
}

ul {
  margin : 0; 
  padding: 0px ;
  height: 80px;
}

ul li { 
  padding : 15px ;
}

#container { 
  height: 10px;
}

.infos { 
  padding-left:150px ;
  width: 615px;
}

.instruct { 
  padding : 2px;
}